body {
    background-color: #efefef;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
}

#site-header {
    padding: 15px 0;
    background-color: #efefef;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.2em;
    color: #000;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    height: auto;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
}

nav ul {
    margin: 0;
    padding-top: 15px;
}

nav li {
    list-style: none;
    display: inline;
    text-decoration: none;
    padding-left: 40px;
}

nav li:first-child {
    padding: 0;
}

nav a{
    color: black;
}


#site-main {
    margin-bottom: 60px;
    display: block;
}

.container {
    margin: 0 20px;
}

.h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.h2section {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-weight: 200;
    font-size: 2em;
}


.title {
    color: #000;
    font-size: 1.5em;
    text-align:center;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
}

#hero {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-image: url("/Images/0.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.hero-content {
    color: #000;
    max-width: 400px;
    margin: 120px;
    font-weight: 200;
    
}

#primarybtn {
    border: none;
    display: inline-block;
    position: relative;
    padding: 8px 25px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #0078ff;
    background-color: transparent;
    border: 2px solid #0078ff;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 1px;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s;
    min-width: 100px;
    min-width: 200px;
}

#primarybtn:hover {
    color: #fff;
    background-color: #0078ff;
    border: 2px solid #0078ff;
}